<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
        <!-- 默认在Azure SDK存储模拟器上运行。如果您有Azure订阅账号，您可以创建存储账号，然后针对存储服务运行，这种方式请注释掉第一个连接字符串，
    然后使用第二个连接字符串 - 您必须要在连接字符串中填入您的存储账号和存储密钥 -->
    <add key="StorageConnectionString" value="UseDevelopmentStorage=true;" />
    <!--<add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=[AccountName];AccountKey=[AccountKey];EndpointSuffix=core.chinacloudapi.cn;" />-->
  </appSettings>
</configuration>
